
@font-face {
	font-family: 'DejaVu Sans Mono';
	src:
		url('DejaVuSansMono.woff2') format('woff2'),
		url('DejaVuSansMono.woff') format('woff'),
		url('DejaVuSansMono.ttf') format('truetype');
}

body {
	padding: 0;
	margin: 0;
	color: whitesmoke;
	background-color: #111;
	font-family: 'DejaVu Sans Mono', monospace;
	font-size: 12px;
}

canvas {
	position: absolute;
	z-index: -1;
}

.button {
	float: right;
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 48px;
	margin: 6px 6px 6px 0px;
	text-align: center;
	vertical-align: middle;
	background-color: #222;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid black;
}

.button:hover {
	border: 1px solid white;
}

#look_button {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*#cond_button { color: #fd2e2e; }
#inv_button { color: #702e05; }
#look_button { color: #53e6ff; }
#menu_button { color: #bbbbbb; }*/

#messages {
	position: absolute;
	bottom: 0;
	padding: 10px;
	text-shadow: black 0 0 2px;
	background-color: rgba(0, 0, 0, 0.5);
}
